@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section { @apply py-24 lg:py-32 px-6 max-w-6xl mx-auto; }
  .card    { @apply rounded-2xl shadow-md bg-primary/50 backdrop-blur p-6; }
}
